.increment {
color: #0A2F51;
color: #0E4D64;
color: #137177;
color: #188977;
color: #1D9A6C;
color: #39A96B;
color: #56B870;
color: #74C67A;
color: #99D492;
color: #BFE1B0;
color: #DEEDCF;
color: #D2EDCC;
color: #FF3C90;
color: #885FF6;
}

.diverge {
  color: #003f5c;
  color: #7a5195;
  color: #ef5675;
  color: #ffa600;
}

.sequenceGreen {
color: #f7fcfd;
color: #e5f5f9;
color: #ccece6;
color: #99d8c9;
color: #66c2a4;
color: #41ae76;
color: #238b45;
color: #035c28;
}

.sequencePurple {
color: #f7fcfd;
color: #e0ecf4;
color: #bfd3e6;
color: #9ebcda;
color: #8c96c6;
color: #8c6bb1;
color: #88419d;
color: #6e016b;
}

.sequenceAqua {
  color: #f7fcf0;
  color: #e0f3db;
  color: #ccebc5;
  color: #a8ddb5;
  color: #7bccc4;
  color: #4eb3d3;
  color: #2b8cbe;
  color: #08589e;
}

.sequenceOrange {
  color: #fff7ec;
  color: #fee8c8;
  color: #fdd49e;
  color: #fdbb84;
  color: #fc8d59;
  color: #ef6548;
  color: #d7301f;
  color: #990000;
}

.sequenceBlue {
  color: #fff7fb;
  color: #ece7f2;
  color: #d0d1e6;
  color: #a6bddb;
  color: #74a9cf;
  color: #3690c0;
  color: #0570b0;
  color: #034e7b;
}

.sequencePink {
  color: #f7f4f9;
  color: #e7e1ef;
  color: #d4b9da;
  color: #c994c7;
  color: #df65b0;
  color: #e7298a;
  color: #ce1256;
  color: #91003f;
}

.sequenceRed {
  color: #fff7f3;
  color: #fde0dd;
  color: #fcc5c0;
  color: #fa9fb5;
  color: #f768a1;
  color: #dd3497;
  color: #ae017e;
  color: #7a0177;
}


.sequenceEmerald {
  color: #ffffe5;
  color: #f7fcb9;
  color: #d9f0a3;
  color: #addd8e;
  color: #78c679;
  color: #41ab5d;
  color: #238443;
  color: #005a32;
}

.sequenceBrown {
  color: #ffffe5;
  color: #fff7bc;
  color: #fee391;
  color: #fec44f;
  color: #fe9929;
  color: #ec7014;
  color: #cc4c02;
  color: #8c2d04;
}

.sequenceAutumn {
  color: #ffffcc;
  color: #ffeda0;
  color: #fed976;
  color: #feb24c;
  color: #fd8d3c;
  color: #fc4e2a;
  color: #e31a1c;
  color: #b10026;
}